
.iconofrigo{
    width: 40px;
}

.titulo{
    font-family:  'Montserrat', sans-serif;
    text-transform: uppercase;
}

.cuerpo-logo{
    text-align: center;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif ;
}

.cuerpo{
    
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif ;
}

.cuerpo-min{
    text-transform: lowercase;
    font-family: 'Oswald', sans-serif ;
}

.resaltado{
    
    text-transform: uppercase;
    font-weight: bold;
}



.bienvenida{
  max-width: 40%;
}



.animal{
    width: 100px;
}






 
.carrusel-cont{
    margin-top: 50px;
}

.div-logo-carrusel{
    color: #fff;
    text-transform: uppercase;
    padding-top: 150px;
}

.fondo-carrusel{
    height: 400px;
    object-fit: cover;
}

.logo-carrusel{
     width: 300px;
     height: 300px;
  }

  
@media (max-width:350px) {
    .iconofrigo{
        display: none;
    }
    .res{
        width: 100%;
        height: 200px;
    }
}

@media (max-width: 500px) {

    .div-logo-carrusel{
        padding-bottom: 50px;
        font-size: 12px;
    }

    
    .logo-carrusel{
        width: 200px;
        height: 200px;
    }

    .fondo-carrusel{
        height: 400px;
        object-fit: cover;
    }
    
    .bienvenida{
        max-width: 100% ;
    }
    
   .res{
       width: 100%;
       height: 250px;
   }

      
}

@media  (min-width: 501px ) and (max-width: 700px) {

    .res{
        width: 100%;
        height: 300px;
    }
      
}

@media (min-width: 701px ) and ( max-width:999px) {
  
    .res{
        width: 100%;
        height: 400px;
    }
}

@media (min-width: 1000px) {

    .res{
        width: 100%;
        height: 600px;
    }
      
}


.container-dm{
    overflow-x: hidden;
}

.imgprodu{
    height: 200px;
    object-fit: cover;
    margin: 0px;
}

.wasa{
    bottom: 150px;
    right: 20px;
    position: fixed;
    width: 70px;
    height: 70px;
}
.wasa2{
    bottom: 150px;
    right: 20px;
    position: fixed;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    box-shadow: 0px 0px 10px;
}

.jeyve{
    
    color: #fff;
    bottom: 0px;
    z-index: 30;
    background-color: rgba(149, 30, 30, 0.64);
    backdrop-filter: blur(4px);
}


.premium{
    width: 40px;
    height: 40px;
}

.corte{
    width: 100%;
    height: 250px;
    object-fit: cover;
}
